.wapper {
  position: relative;
}

.container {
  position: relative;
}

.sc-intro {
  position: relative;
  height: 800vh;
  --opacity: 0;
}

.sc-intro .group-video {
  width: 100%;
  height: 100%;
}
.sc-intro .group-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sc-intro .group-desc {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.sc-intro .group-desc::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: var(--opacity);
}
.sc-intro .group-desc .desc {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  transform: translate(-50%, -50%);
  font-size: 52px;
  font-weight: 600;
  line-height: 1.35;
  white-space: nowrap;
  color: #fff;
}
.sc-intro .group-desc .desc:last-of-type {
  font-size: 24px;
  line-height: 1.67;
}




.sc-showcase {
  position: relative;
  height: 700vh;
  --opacity:0;
}

.sc-showcase .sticky::before{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,.6);
  opacity: var(--opacity);
  z-index: 1;
}
.sc-showcase .group-bg {
  position: relative;
  height: 100%;
  opacity: 1;
}
.sc-showcase .group-bg figure {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  opacity: 1;
}
.sc-showcase .group-bg figure:nth-of-type(2) {
  z-index: -1;
}
.sc-showcase .group-bg figure:nth-of-type(3) {
  z-index: -2;
}
.sc-showcase .group-bg figure img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.sc-showcase .sticky > .desc,
.sc-showcase .group-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
}
.sc-showcase .group-desc .desc {
  font-size: 100px;
  line-height: 1.2;
  font-weight: 700;
  color: #fff;
  z-index: 2;
}
.sc-showcase .sticky > .desc {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
  color: #fff;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
}




.sc-challenge {
  display: grid;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.sc-challenge .inner {
  margin: 0 100px;
}
.sc-challenge .tit {
  width: 50%;
}
.sc-challenge .desc {
  width: 50%;
  padding-left: 100px;
  margin-left: auto;
  font-size: 24px;
  line-height: 1.67;
  font-weight: 700;
}




.sc-prove {
  position: relative;
}
.sc-prove .prove-bg {
  position: relative;
}
.sc-prove .prove-bg .box {
  display: inline-block;
  position: absolute;
  width: 300px;
  height: 140px;
  background-color: #fff;
}
.sc-prove .prove-bg .box:nth-of-type(1) {
  top: 0;
  right: 0;
}
.sc-prove .prove-bg .box:nth-of-type(2) {
  bottom: 0;
  left: 0;
}
.sc-prove .tit {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.sc-prove .tit .txt {
  width: 100%;
  color: #fff;
}
.sc-prove .tit .txt span {
  display: inline-block;
}




.sc-gallery {
  position: relative;
  width: 100vw;
}
.sc-gallery .gallery-inner {
  position: relative;
  display: flex;
  width: 100vw;
  padding: 0 100px;
}
.sc-gallery .tit {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 470px;
  margin: 0;
}
.sc-gallery .group {
  padding: 100vh 0;
  width: calc(100% - 470px);
}
.sc-gallery .gallery-img {
  max-width: 46.4%;
  margin-left: auto;
  margin-bottom: 186px;
}
.sc-gallery .gallery-img:nth-of-type(2) {
  margin-left: 0;
  margin-bottom: 186px;
}
.sc-gallery .gallery-img:nth-of-type(3) {
  margin-left: auto;
  margin-bottom: 0;
}
.sc-gallery .gallery-img .desc {
  margin-top: 12px;
  font-weight: 600;
  line-height: 1.5;
}




.sc-possible {}
.sc-possible .inner {
  position: relative;
  height: 400vh;
}
.sc-possible .group {
  display: flex;
  align-items: center;
  height: 100%;
}
.sc-possible .box {
  display: flex;
  align-items: center;
  padding-left: 100px;
}
.sc-possible .tit {
  width: 346px;
  margin-right: 160px;
}
.sc-possible .possible-list {
  display: flex;
  gap: 75px;
}
.sc-possible .possible-item > figure {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 296px;
  height: 296px;
  border: 2px solid #fff;
  border-radius: 58px;
  background-color: #000;
}
.sc-possible .possible-item:not(:last-of-type) > figure::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -44px;
  transform: translateY(-50%) rotate(45deg);
  width: 30px;
  height: 30px;
  border: 8px solid #fff;
  border-left: 0;
  border-bottom: 0;
}
.sc-possible .possible-item > figure > img {
  width: 54%;
  height: 54%;
  object-fit: fill;
}
.sc-possible .possible-item .subtit {
  margin: 24px 0 0 20px;
}

.sc-possible .cube {
  background-color: #000;
}
.sc-possible .cube-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.sc-possible .cube-img {
  position: relative;
  width: 506px;
}
.sc-possible .cube-img img {
  width: 100%;
}
.sc-possible .cube-desc {
  position: absolute;
  text-align: center;
}
.sc-possible .cube-desc:nth-of-type(1) {
  top: 9%;
  left: 50%;
  transform: translateX(-50%);
}
.sc-possible .cube-desc:nth-of-type(2) {
  bottom: 26.3%;
  left: 10.12%;
}
.sc-possible .cube-desc:nth-of-type(3) {
  bottom: 26.3%;
  right: 10.12%;
}
.sc-possible .cube-desc strong {
  font-size: 24px;
  font-weight: 600;
}
.sc-possible .cube-desc p {
  line-height: 1.63;
}
.sc-possible .possible-txt {
  position: absolute;
  left: 100px;
  bottom: 4.1667vh;
  font-size: 14px;
  line-height: 1.63;
  color: rgba(255, 255, 255, 0.6);
}





.sc-feature {
  position: relative;
}
.sc-feature .feature-list {
  position: relative;
  display: flex;
}

.sc-feature .feature-list::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(50px);
  opacity: 0;
  transition: 0.3s;
  content: "";
}

.sc-feature .feature-list.blur::after {
  opacity: 1;
}

.sc-feature .feature-item {
  width: 33.3333%;
  height: 175px;
  background-color: #e657af;
}

.sc-feature .feature-item:nth-of-type(2) {
  background-color: #0049ff;
}
.sc-feature .feature-item:nth-of-type(3) {
  background-color: #00bf41;
}

.sc-feature .feature-tit {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  color: #fff;
}

.sc-service {
}
.sc-service .inner {
  position: relative;
}
.sc-service .id-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sc-service .id-txt {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.25;
}



.sc-service .row {
  height: 600vh;
}
.sc-service .row-inner {
  height: 100%;
}
.sc-service .row-box {
  display: flex;
  align-items: center;
  height: 100%;
}
.sc-service .row-box .tit {
  padding: 0 160px 0 100px;
}
.sc-service .row .card-content {
  margin-top: 56px;
}
.sc-service .row .card-img {
  width: 278px;
}
.sc-service .row .card-img img {
  width: 100%;
}
.sc-service .row .ico-lock,
.sc-service .row .ico-unlock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 150px;
}
.sc-service .row .ico-lock img,
.sc-service .row .ico-unlock img {
  width: 100%;
  object-fit: fill;
}



.sc-service .col {
  opacity: 0;
  margin-top: -100vh;
  padding: 0 100px;
}
.sc-service .col .col-inner {
  position: relative;
  display: flex;
}
.sc-service .col .id-wrap {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: 400px;
  height: 100vh;
}
.sc-service .col .col-box {
  padding: 100vh 0 100vh 13.5417vw;
}

.sc-service .col .service-desc {
  max-width: 750px;
  margin: 34px 0 80px;
}
.sc-service .col .service-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.sc-service .col .service-item {
  display: flex;
  align-items: center;
}
.sc-service .col .info-box {
  display: grid;
  align-items: center;
  width: 396px;
  height: 196px;
  border-radius: 20px;
  margin-right: 52px;
}
.sc-service .col .info-txt {
  display: block;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.43;
  text-align: center;
}
.sc-service .col .app {
  margin-top: 160px;
}
.sc-service .col .app-tit {
  font-size: 60px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 80px;
}
.sc-service .col .app-list {
  display: flex;
  gap: 50px;
}
.sc-service .col .app-item {
  flex: 0 1 300px;
}
.sc-service .col .app-desc {
  margin-top: 24px;
}



.sc-service .any {
  margin-top: -100vh;
  height: 200vh;
}
.sc-service .any .any-inner {
  position: relative;
  height: 100%;
}
.sc-service .any .any-box {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 100px;
}
.sc-service .any .card-item:not(.id-box) {
  border: none;
}
.sc-service .any .card-item:nth-child(1) {
  z-index: 3;
}
.sc-service .any .card-item:nth-child(2) {
  z-index: 2;
}
.sc-service .any .card-item:nth-child(3) {
  z-index: 1;
}
.sc-service .any .card-item:nth-child(4) {
  z-index: 0;
}
.sc-service .any .card-item .card-content {
  padding-top: 40px;
}
.sc-service .any .card-item:nth-child(2) .user-img {
  background-color: #ff009d;
}
.sc-service .any .card-item:nth-child(3) .user-img {
  background-color: #0049ff;
}
.sc-service .any .card-item:nth-child(4) .user-img {
  background-color: #26ff00;
}



.sc-service .whoever {
  margin-top: -100vh;
  height: 300vh;
}
.sc-service .whoever .whoever-inner {
  position: relative;
  height: 100%;
  padding: 0 100px;
}
.sc-service .whoever .whoever-box {
  display: flex;
  align-items: center;
  height: 100%;
}
.sc-service .whoever .id-wrap {
  position: relative;
  width: 400px;
  height: 540px;
}
.sc-service .whoever .id-shadow {
  display: inline-block;
  position: absolute;
  top: -30%;
  left: -30%;
  width: 160%;
  height: 160%;
  background-image: url(../img/whoever.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sc-service .whoever .whoever-tit {
  margin-left: 200px;
}






.sc-slide {
  position: relative;
  height: 200vh;
}
.sc-slide .inner {
  position: relative;
  height: 100%;
}
.sc-slide .group {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 100px;
}
.sc-slide .slide-box {
  display: flex;
  align-items: center;
}
.sc-slide .slide-box .slide-tit {
  margin-right: 160px;
  width: 441px;
}
/* .sc-slide .group .slide-tit .tit {
  display: block;
  width: 441px;
} */
.sc-slide .slide-box .card-item {
  color: #fff;
}
.sc-slide .slide-box .card-item:nth-child(1) {
  background-color: #e657af;
}
.sc-slide .slide-box .card-item:nth-child(2) {
  background-color: #0049ff;
}
.sc-slide .slide-box .card-item:nth-child(3) {
  background: url(../img/section-3-3.png) no-repeat top/cover;
}
.sc-slide .slide-box .card-header {
  position: relative;
}
.sc-slide .slide-box .card-header > span {
  top: 0;
}
.sc-slide .slide-box .tit-desc {
  position: absolute;
  right: 0;
  bottom: 45px;
  font-weight: 700;
  line-height: 1.63;
}
.sc-slide .slide-box .product-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sc-slide .slide-box .product-cate {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 3px;
}
.sc-progress .group .progress-bottom,
.sc-slide .slide-box .slide-bottom {
  padding: 0 60px 0 160px;
}
.sc-progress .group .subtit,
.sc-slide .slide-box .subtit {
  width: 358px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.67;
}

.sc-slide .arrow-box {
  position: fixed;
  bottom: 0;
  padding: 10px 0 65px;
  opacity: 0;
  transition: opacity .5s;
}
/* 클래스 이벤트 */
.sc-slide .arrow-box.show{
  opacity: 1;
}
.sc-slide .arrow-box .arrow-list {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.sc-slide .arrow-box .arrow-item {
  width: 27px;
  height: 27px;
  transform: rotate(45deg);
  border-style: solid;
  border-width: 8px;
  border-left: 0;
  border-bottom: 0;
  margin-right: -6px;
  animation: down 1s infinite alternate;
}
@keyframes down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.sc-slide .arrow-box .arrow-item:nth-child(1) {
  animation-delay: 0.1s;
  border-image: linear-gradient(60deg, #e657af 60%, #0049ff 160%) 1;
}
.sc-slide .arrow-box .arrow-item:nth-child(2) {
  animation-delay: 0.2s;
  border-image: linear-gradient(60deg, #e657af 20%, #0049ff 145%) 1;
}
.sc-slide .arrow-box .arrow-item:nth-child(3) {
  animation-delay: 0.3s;
  border-image: linear-gradient(60deg, #e657af, #0049ff 130%) 1;
}
.sc-slide .arrow-box .arrow-item:nth-child(4) {
  animation-delay: 0.4s;
  border-image: linear-gradient(50deg, #e657af, #0049ff 100%) 1;
}
.sc-slide .arrow-box .arrow-item:nth-child(5) {
  animation-delay: 0.5s;
  border-image: linear-gradient(50deg, #e657af, #0049ff 80%) 1;
}
.sc-slide .arrow-box .arrow-item:nth-child(6) {
  animation-delay: 0.6s;
  border-image: linear-gradient(50deg, #0049ff 45%, #43cf2e 135%) 1;
}
.sc-slide .arrow-box .arrow-item:nth-child(7) {
  animation-delay: 0.7s;
  border-image: linear-gradient(51deg, #0049ff, #43cf2e 75%) 1;
}
.sc-slide .arrow-box .desc {
  position: relative;
  margin-top: 15px;
}
.sc-slide .arrow-box .txt {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  transition: 0.3s;
  font-size: 24px;
  line-height: 1.67;
}
.sc-slide .arrow-box .txt:nth-child(2) {
  opacity: 0;
}

.sc-creater {
  position: relative;
  height: 200vh;
}
.sc-creater .bg {
  height: 100%;
}
.sc-creater .bg figure {
  height: 100%;
}
.sc-creater .bg figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sc-creater .desc {
  position: absolute;
  left: 200px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}
.sc-creater .desc strong {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
}
.sc-creater .desc p {
  margin-top: 26px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
}

.sc-progress {}
.sc-progress .inner {
  position: relative;
  height: 200vh;
}
.sc-progress .group {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 100px;
}
.sc-progress .box {
  display: flex;
  align-items: center;
}
.sc-progress .box .tit {
  width: 375px;
  margin-right: 160px;
}


.sc-progress .box .card-item {
  color: #fff;
}
.sc-progress .box .card-item:nth-child(2) {
  background-color: #0049ff;
}
.sc-progress .box .card-item:nth-child(3) {
  background-color: #000;
}
.sc-progress .box .card-item:nth-child(4) {
  background-color: #00bf41;
}
.sc-progress .box .card-content {
  margin-top: 40px;
  line-height: 1.63;
}

.sc-progress .box .txt-bar01 {
  margin-top: 24px;
}
.sc-progress .box .txt-bar02 {
  margin-top: 8px;
}
.sc-progress .progress-desc {
  width: 270px;
}






.sc-ground {
  position: relative;
  display: grid;
  align-items: center;
  padding: 200px 0 260px;
}
.sc-ground .inner {
  padding: 0 100px;
}
.sc-ground .desc {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.67;
  margin: 34px 0 70px;
}


.sc-ground .btn-box {
  display: flex;
  align-items: center;
  gap: 18px;
}
.sc-ground .btn-box .link {
  display: block;
  font-size: 18px;
  line-height: 2.22;
  font-weight: 600;
  border: 2px solid #000;
  padding: 3px 21px 1px;
}
.sc-ground .btn-box .link:nth-of-type(1) {
  color: #fff;
  background-color: #000;
}


.sc-ground .banner {
  position: absolute;
  bottom: -60px;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  z-index: -1;
  transition: 0.5s;
}
.sc-ground .banner .banner-inner {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}
.sc-ground .banner .marquee-list {
  position: relative;
  display: flex;
  animation: marquee 40s infinite linear;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(60%);
  }
}
.sc-ground .banner .marquee-list::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(50px);
  opacity: 1;
  content: "";
}
.sc-ground .banner .marquee-item:nth-child(3n-1) {
  background-color: #00bf41;
}
.sc-ground .banner .marquee-item:nth-child(3n-2) {
  background-color: #0049ff;
}
.sc-ground .banner .marquee-item:nth-child(3n-3) {
  background-color: #e657af;
}
.sc-ground .banner .marquee-item .txt {
  position: relative;
  padding: 10px 72px;
  font-size: 24px;
  font-weight: 600;
  white-space: nowrap;
  color: #fff;
  line-height: 1.67;
  z-index: 1;
}
.sc-ground .banner .marquee-item .italic {
  font-style: italic;
}
